@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dropdown-options {
    cursor: pointer;
  }

  .dropdown-options:hover {
    font-weight: bold;
  }

  .button {
    border: 1px solid white;
    border-radius: 2px;
    margin: 0 4px;
  }

  .log-links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
  }

  .xl-font {
    font-size: 18px;
  }

  .l-font {
    font-size: 16px;
  }

  .m-font {
    font-size: 14px;
  }

  .s-font {
    font-size: 12px;
  }

  .xs-font {
    font-size: 10px;
  }

  .max-width {
    max-width: 720px;
  }
}

/* Webkit Browsers, Chromium */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
}

/* Firefox */
input:autofill {
  color: white !important;
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 20%; /* Very dark grey */

    --card: 0 0% 90%; /* Light grey */
    --card-foreground: 0 0% 20%; /* Very dark grey */

    --collapsible: 0 0% 90%; /* Light grey */
    --collapsible-foreground: 0 0% 20%; /* Very dark grey */

    --popover: 0 0% 90%; /* Light grey */
    --popover-foreground: 0 0% 20%; /* Very dark grey */

    --primary: 0 0% 20%; /* Very dark grey */
    --primary-foreground: 0 0% 100%; /* White */

    --secondary: 0 0% 95%; /* Very light grey */
    --secondary-foreground: 0 0% 20%; /* Very dark grey */

    --muted: 0 0% 95%; /* Very light grey */
    --muted-foreground: 0 0% 50%; /* Medium grey */

    --accent: 0 0% 95%; /* Very light grey */
    --accent-foreground: 0 0% 20%; /* Very dark grey */

    --destructive: 0 84.2% 60.2%; /* Bright red */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 0 0% 80%; /* Light grey */
    --input: 0 0% 80%; /* Light grey */
    --ring: 0 0% 20%; /* Very dark grey */

    --radius: 0.5rem; /* Border radius */

    --icon-stroke-color: 0 0% 20%; /* Default fill color for light mode */
  }

  .dark {
    --background: 0 0% 10%; /* Very dark grey */
    --foreground: 0 0% 90%; /* Very light grey */

    --card: 0 0% 20%; /* Dark grey */
    --card-foreground: 0 0% 90%; /* Very light grey */

    --collapsible: 0 0% 20%; /* Dark grey */
    --collapsible-foreground: 0 0% 90%; /* Very light grey */

    --popover: 0 0% 20%; /* Dark grey */
    --popover-foreground: 0 0% 90%; /* Very light grey */

    --primary: 0 0% 90%; /* Very light grey */
    --primary-foreground: 0 0% 10%; /* Very dark grey */

    --secondary: 0 0% 30%; /* Lighter grey */
    --secondary-foreground: 0 0% 90%; /* Very light grey */

    --muted: 0 0% 30%; /* Lighter grey */
    --muted-foreground: 0 0% 70%; /* Light grey */

    --accent: 0 0% 30%; /* Lighter grey */
    --accent-foreground: 0 0% 90%; /* Very light grey */

    --destructive: 0 62.8% 30.6%; /* Dark red */
    --destructive-foreground: 0 0% 90%; /* Very light grey */

    --border: 0 0% 20%; /* Dark grey */
    --input: 0 0% 20%; /* Dark grey */
    --ring: 0 0% 90%; /* Very light grey */

    --icon-stroke-color: #fff; /* Fill color for dark mode */
  }
}
